<section class="mx-auto max-w-screen-xl grid grid-cols-1 md:grid-cols-2 border-x border-dashed">
  <div class="px-8 pt-20 mb-8 border-r md:px-10">
    <app-user-info />
  </div>
  <div class="md:py-28">
    <div class="flex flex-col gap-10 md:px-10">
      <div class="mx-4 p-8 rounded-md border border-gray-100 bg-white shadow-sm">
        <app-update-info />
      </div>
      <div class="mx-4 p-8 rounded-md border border-gray-100 bg-white shadow-sm">
        <app-update-password />
      </div>
    </div>
  </div>
</section>
