<ng-container *ngIf="vm$ | async as state">
  @if (state.user; as user) {
  <div class="mx-auto max-w-screen-lg grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-5">
    <div class="flex flex-col gap-3 items-start pb-10 pt-24 md:pt-28 p-8 lg:col-span-2 border-r bg-gradient-to-b">
      <div class="w-32 h-32 bg-gray-200/60 relative rounded-full flex flex-col items-center justify-center">
        @if (user.profile || user.google_image) {
        <img [ngSrc]="displayProfile(user)" class="rounded-full" [alt]="user.name" fill priority />
        } @else {
        <h2 class="text-gray-950 font-bold text-xl">{{ splitUsername(user) }}</h2>
        }
        <button
          type="button"
          (click)="file.click()"
          class="absolute h-1/3 -right-4 bottom-0 duration-300 bg-green-200 flex p-3 items-center justify-center rounded-md">
          <input
            id="thumb"
            name="thumb"
            type="file"
            class="hidden"
            accept="image/*"
            #file />
        </button>
      </div>

      <h3 class="text-gray-900 text-xl font-semibold">Mon compte</h3>
      <p class="text-gray-800 font-medium">Inscrit le {{ user.created_at | date : 'longDate' }}</p>
      <p class="text-gray-800 font-medium bg-gray-100 p-1 rounded-md">{{ user.email }}</p>
    </div>

    <div class="w-full flex flex-col gap-3 lg:col-span-3 px-8 md:py-28">
      <h3 class="text-lg font-bold text-gray-950 mb-4">Modifier mes informations</h3>
      @if (state.profileState.infoUpdateMessage; as infoUpdateMessage) {
      <app-message
        [message]="infoUpdateMessage.message"
        [type]="infoUpdateMessage.type"
        (handleClose)="closeInfoUpdateMessage()" />
      } @if (state.profileState.updateImageMessage; as updateImageMessage) {
      <app-message
        [message]="updateImageMessage.message"
        [type]="updateImageMessage.type"
        (handleClose)="closeImageUpdateMessage()" />
      }
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-8 flex flex-col">
        <app-input
          type="text"
          name="name"
          label="Nom complet"
          placeholder="Entrez votre name"
          [validationErrors]="state.profileState.validationErrors" />
        <app-input
          type="text"
          name="phone_number"
          label="Numéro téléphonique"
          placeholder="Entrez votre numéro"
          [validationErrors]="state.profileState.validationErrors" />
        <app-input
          type="text"
          name="address"
          label="Adresse"
          placeholder="Entrez votre adresse"
          [validationErrors]="state.profileState.validationErrors" />
        <app-button type="submit" [loading]="state.profileState.isUpdatingInfo" [disabled]="form.invalid">
          Mettre à jour
        </app-button>
      </form>

      <h3 class="text-lg font-bold text-gray-950 mb-4 mt-8">Modifier mon mot de passe</h3>
      @if (state.profileState.passwordUpdateMessage; as passwordUpdateMessage) {
      <app-message
        [message]="passwordUpdateMessage.message"
        [type]="passwordUpdateMessage.type"
        (handleClose)="closePasswordUpdateMessage()" />
      }
      <form [formGroup]="updatePasswordForm" (ngSubmit)="submitPasswordForm()" class="gap-8 flex flex-col pb-20">
        <app-input
          type="password"
          name="old_password"
          label="Ancien mot de passe"
          placeholder="Entrez l'ancien mot de passe"
          [validationErrors]="state.profileState.validationErrors" />
        <app-input
          type="password"
          name="password"
          label="Nouveau mot de passe"
          placeholder="Entrez le nouveau mot de passe"
          [validationErrors]="state.profileState.validationErrors" />
        <app-input
          type="password"
          name="password_confirm"
          label="Confirmation du mot de passe"
          placeholder="Confirmez votre mot de passe"
          [validationErrors]="state.profileState.validationErrors" />
        <app-button
          type="submit"
          [loading]="state.profileState.isUpdatingPassword"
          [disabled]="updatePasswordForm.invalid">
          Changer le mot de passe
        </app-button>
      </form>
    </div>
  </div>
  } @else {
  <div class="h-screen flex flex-col items-center gap-4 justify-center">
    <app-spinner class="text-green-400" />
    En cours de chargement...
  </div>
  }
</ng-container>
