<ng-container *ngIf="vm$ | async as state">
  @if (state.solutions.length > 0) {
    <h2 class="font-bold text-2xl mb-3 mt-16">Les solutions awards</h2>
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-12 mt-8">
      @for (solution of state.solutions; track solution.id) {
        <app-solution-card [solution]="solution"/>
      }
      @if (state.isLoading && state.solutions.length <= 0) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track i) {
          <app-solution-card-skeleton/>
        }
      }
    </div>
  }
</ng-container>
