<component-form-card formTitle="Inscrivez-vous" *ngIf="state$ | async as state" [error]="state.error">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-8 flex flex-col justify-center">
    <ui-input type="text" name="name" label="Nom complet" placeholder="Entrez votre nom" [validationErrors]="state.validationErrors"/>
    <ui-input type="email" name="email" label="Email" placeholder="Entrez votre email" [validationErrors]="state.validationErrors"/>
    <ui-input type="text" name="phoneNumber" label="Numéro téléphonique" placeholder="Entrez votre numéro" [validationErrors]="state.validationErrors"/>
    <ui-input type="text" name="address" label="Votre adresse" placeholder="Entrez votre adresse" [validationErrors]="state.validationErrors"/>
    <ui-input type="password" name="password" label="Mot de passe" placeholder="Entrez votre mot de passe" [validationErrors]="state.validationErrors"/>
    <ui-input type="password" name="passwordConfirm" label="Confirmez votre mot de passe" placeholder="Entrez votre confirmation" [validationErrors]="state.validationErrors"/>
    <ui-button type="submit" [loading]="state.isLoading" [disabled]="form.invalid">
      S'inscrire
    </ui-button>
    <hr class="my-6 border-gray-300 w-full"/>
    <ui-button-outline>
      <img ngSrc="../../../assets/images/google.svg" alt="googlr" class="mr-2 h-4 w-4" width="10" height="10"/>
      <span class="text-gray-950 text-sm"> S'inscrire avec Google</span>
    </ui-button-outline>
    <a routerLink="/register" class="text-gray-950 text-sm">
      Pas encore de compte ? Inscrivez-vous
    </a>
  </form>
</component-form-card>
