<section class="max-w-screen-lg mx-auto mt-10 p-8 mb-10">
  <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold mb-6">
    Les objectifs de développement
    <span class="inline-block after:block after:w-full after:h-1 after:-mt-1 after:bg-green-300">durables</span>
  </h1>
  <div class="relative grid lg:grid-cols-7 sm:grid-cols-4 grid-cols-3 gap-x-4 gap-y-6 mt-4 pb-1">
    @for (sdg of sdgs; track sdg.name) {
      <div class="p-2 rounded-sm hover:-translate-y-2 duration-300 transition-transform">
        <div class="relative h-20 w-20 md:h-32 md:w-32">
          <img
            [ngSrc]="sdg.image"
            class="transition-opacity duration-300 group-hover:opacity-0 rounded-sm"
            alt="{{ sdg.name }}"
            fill />
        </div>
      </div>
    }
  </div>
</section>
