<ui-topbar/>
<ui-form-card formTitle="Se connecter">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-8 flex flex-col justify-center">
    <ui-input type="email" label="Email" placeholder="Entrez votre email" name="email"/>
    <ui-input type="password" label="Mot de passe" placeholder="Entrez votre mot de passe" name="password"/>
    <ui-button type="submit" [loading]="isLoading"> Se connecter</ui-button>
    <hr class="border-gray-300 w-full"/>
    <ui-button-outline>
      <img ngSrc="assets/images/google.svg" alt="google" class="mr-2 h-4 w-4" width="10" height="10"/>
      <span class="text-gray-950 text-sm">Se connecter avec Google</span>
    </ui-button-outline>
    <a routerLink="/signup" class="text-gray-950 text-sm">
      Pas encore de compte ? Inscrivez-vous
    </a>
  </form>
</ui-form-card>
<ui-footer/>
