@import '@ng-select/ng-select/themes/default.theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Variable';
  src:
    url('../fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../fonts/Satoshi-Variable.woff') format('woff'),
    url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

@layer components {
  .nav-open div:first-child {
    @apply rotate-45 translate-y-1.5;
  }

  app-root.open-nav {
    @apply overflow-hidden;
  }

  .nav-open div:last-child {
    @apply -rotate-45 -translate-y-1;
  }

  em {
    @apply font-semibold text-gray-900 not-italic;
  }
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .scroll {
    animation: infinite-scroll 25s linear infinite;
  }

  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-200 rounded-md;
  }

  .pg .ngx-pagination .current {
    @apply bg-green-500 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }
  .pg .ngx-pagination a {
    @apply bg-gray-200/40 text-gray-700 mx-1 shadow-sm shadow-gray-300 bg-opacity-70 rounded-sm m-0 px-2 py-0.5;
  }

  .ng-select {
    @apply text-sm;
  }

  .ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
    @apply border-green-400;
  }
}
