<component-form-card formTitle="Réinitialiser le mot de passe" *ngIf="state$ | async as state" [error]="state.error">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-8 flex flex-col justify-center">
    <ui-input type="number" label="Code à 6 chiffres" placeholder="Entrez le code" name="token" [validationErrors]="state.validationErrors"/>
    <ui-input type="password" label="Mot de passe" placeholder="Entrez le nouveau mot de passe" name="password" [validationErrors]="state.validationErrors"/>
    <ui-input type="password" label="Confirmer le mot de passe" placeholder="Entrez la confirmation du mot de passe"
              name="passwordConfirm" [validationErrors]="state.validationErrors"/>
    <ui-button type="submit" [loading]="state.isLoading" [disabled]="form.invalid">
      Réinitialiser le mot de passe
    </ui-button>
    <hr class="border-gray-300 w-full"/>
    <ui-button-outline (click)="loginWithGoogle()">
      <img ngSrc="../../../assets/images/google.svg" alt="google" class="mr-2 h-4 w-4" width="10" height="10"/>
      <span class="text-gray-950 text-sm">Se connecter avec Google</span>
    </ui-button-outline>
    <a routerLink="/login" class="text-gray-950 text-sm">
      Vous avez déjà un compte ? Connectez-vous
    </a>
  </form>
</component-form-card>
