<div class="relative" *ngIf="vm$ | async as state">
  <style>
    .pagination ::ng-deep .ngx-pagination .current {
      background-color: rgba(82, 185, 120, 0.7);
      border-radius: 2px;
      font-size: small;
      margin: 0 4px;
      padding: auto;
    }
    .pagination ::ng-deep .ngx-pagination a {
      color: #4a4a4a;
      font-size: small;
      background: hsla(0, 0%, 97%, 0.92);
      border-radius: 2px;
      margin: 0 4px;
      box-shadow:
        0 5px 0 rgba(255, 255, 255, 0.5) inset,
        0 1px 4px rgba(0, 0, 0, 0.1);
      padding: auto;
    }
  </style>
  <div class="p-8 text-gray-600 border-x border-dashed lg:mx-auto lg:max-w-screen-lg">
    <h2 class="text-xl md:text-2xl mb-8 text-gray-950 font-bold pt-20 md:w-2/3">
      Les solutions innovantes de
      <span class="inline-block after:block after:w-full after:h-2 after:-mt-2 after:bg-green-300">
        la communauté.
      </span>
      @if (state.isFiltering) {
        <app-spinner class="text-green-500 ml-4" />
      }
    </h2>

    <form class="flex flex-col gap-4 lg:grid lg:grid-cols-3 mb-10">
      <select
        #event
        id="event"
        name="event"
        (change)="onEventChange(+event.value)"
        class="bg-gray-100 border border-gray-100 text-gray-900 text-sm rounded-lg focus:outline-none block w-full p-2.5">
        <option value="0">Selectionner un appel</option>
        @for (event of state.events; track $index) {
          <option [value]="event.id" [selected]="queryParams.event === event.id">{{ event.name }}</option>
        }
      </select>
      <select
        #thematics
        (change)="onThematicChange(+thematics.value)"
        id="thematics"
        name="thematics"
        class="bg-gray-100 border border-gray-100 text-gray-900 text-sm rounded-lg focus:outline-none block w-full p-2.5">
        <option value="">Choississez une thématique</option>
        @for (thematic of state.thematics; track thematic.id) {
          <option [value]="thematic.id" [selected]="queryParams.thematic === thematic.id">
            {{ thematic.name }}
          </option>
        }
      </select>
      <select
        #odd
        id="odd"
        name="odd"
        (change)="onOddChange(+odd.value)"
        class="bg-gray-100 border border-gray-100 text-gray-900 text-sm rounded-lg focus:outline-none block w-full p-2.5">
        <option value="0">Selectionner un ODD</option>
        @for (sdg of sdgs; track $index) {
          <option [value]="$index + 1" [selected]="queryParams.odd === $index + 1">{{ sdg }}</option>
        }
      </select>
    </form>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-3 lg:grid-cols-4">
      @for (
        solution of state.solutions
          | paginate: { itemsPerPage: 20, currentPage: queryParams.page || 1, totalItems: state.count };
        track solution.id
      ) {
        <app-solution-card [solution]="solution" />
      }
      @if (state.isLoading && !state.isFiltering) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8]; track $index) {
          <app-solution-card-skeleton />
        }
      }
    </div>
    @if (state.count === 0 || state.solutions.length === 0) {
      <div class="py-8 max-w-screen-xl lg:py-20">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600">404</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl">Aucune solution trouvée</p>
        <p class="mb-4 text-lg font-light text-gray-500">
          Nous n'avons pas trouvé de solution correspondant à votre recherche.
        </p>
      </div>
    }
    <div class="flex justify-center items-center mt-20">
      <pagination-controls
        nextLabel=""
        previousLabel=""
        [autoHide]="true"
        [maxSize]="5"
        (pageChange)="onPageChange($event)"
        class="pagination">
      </pagination-controls>
    </div>
  </div>
</div>
