<div class="relative" *ngIf="vm$ | async as state">
  <style>
    .pagination ::ng-deep .ngx-pagination .current {
      background-color: rgb(74 222 128 / 0.7);
      color: white;
      font-size: large;
    }
    .pagination ::ng-deep .ngx-pagination a {
      color: #4a4a4a;
      font-size: large;
      background: hsla(0, 0%, 97%, 0.92);
      display: inline-block;
      margin: 0 2px;
      box-shadow:
        0 1px 0 rgba(255, 255, 255, 0.5) inset,
        0 1px 2px rgba(0, 0, 0, 0.1);
    }
  </style>
  <div class="p-8 text-gray-600 border-x border-dashed lg:mx-auto lg:max-w-screen-lg">
    <h2 class="text-xl md:text-2xl mb-8 text-gray-950 font-bold pt-20 md:w-2/3">
      Les solutions innovantes de
      <span class="inline-block after:block after:w-full after:h-2 after:-mt-2 after:bg-green-300"
        >la communauté.
      </span>
    </h2>

    <form class="mb-10 flex flex-col gap-4 lg:grid lg:grid-cols-3">
      <select
        #sdg
        id="countries"
        (change)="onSdgChange(sdg.value)"
        class="bg-gray-100 border border-gray-100 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-green-300 focus:border-green-400 block w-full p-2.5">
        <option value="">Selectionner un ODD</option>
        @for (sdg of sdgs; track $index) {
          <option [value]="$index + 1" [selected]="+queryParams.sdg === $index + 1">{{ sdg }}</option>
        }
      </select>
      <select
        #thematics
        (change)="onThematicChange(thematics.value)"
        id="countries"
        class="bg-gray-100 border border-gray-100 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-green-300 focus:border-green-400 block w-full p-2.5">
        <option value="">Choississez une thématique</option>
        @for (thematic of state.thematics; track thematic.id) {
          <option [value]="thematic.name" [selected]="queryParams.thematic === thematic.name">
            {{ thematic.name }}
          </option>
        }
      </select>
    </form>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 md:grid-cols-3 lg:grid-cols-4">
      @for (
        solution of filterSolutions(state.solutions)
          | paginate: { itemsPerPage: 20, currentPage: queryParams.page, totalItems: state.count };
        track solution.id
      ) {
        <app-solution-card [solution]="solution" />
      }
      @if (state.isLoading && state.solutions.length <= 0) {
        @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track $index) {
          <app-solution-card-skeleton />
        }
      }
    </div>
    @if (filterSolutions(state.solutions).length <= 0 && state.isLoading === false) {
      <div class="flex justify-start items-center mt-20 py-28">
        <p class="text-gray-950 text-center text-xl font-bold">Aucune solution trouvée sur cette page.</p>
      </div>
    }
    <div class="flex justify-start items-center mt-20">
      <pagination-controls
        nextLabel=""
        previousLabel=""
        [maxSize]="6"
        (pageChange)="onPageChange($event)"
        class="pagination">
      </pagination-controls>
    </div>
  </div>
</div>
