<footer class="border-t border-dashed">
  <div class="max-w-screen-lg border-x border-dashed mx-auto p-8 text-gray-800">
    <div class="grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <div class="flex flex-col gap-2">
        <h5 class="font-semibold mb-2">Social</h5>
        <a aria-label="instagram link" target="_blank" href="https://www.linkedin.com/showcase/fikiri">Linkdin</a>
        <a aria-label="facebook link" target="_blank" href="https://www.facebook.com/fikiriSDG?mibextid=ViGcVu">
          Facebook
        </a>
        <a
          aria-label="instagram link"
          target="_blank"
          href="https://www.instagram.com/fikirisdg/?fbclid=IwAR32B-_YEZzAz-9K35Ee7xH1dvHKz1aeMprDZix8QG-DXQODqgVC8xK2pYw">
          Instagram
        </a>
      </div>
      <div class="flex flex-col gap-2">
        <h5 class="font-semibold mb-2">Contact</h5>
        <a href="mailto:support@fikiri.co">Email</a>
        <a class="tel:+243979265726">Téléphone</a>
        <a href="whatsapp://send?abid=+243979265726">Whatsaap</a>
      </div>
      <div class="flex flex-col gap-2 col-span-2 md:col-span-1">
        <h5 class="font-semibold mb-2">Ressources</h5>
        <p class="">Conditions d'utilisation</p>
        <p class="">Politique de Confidentialité</p>
        <p class="">Licence</p>
      </div>
      <div class="flex flex-col gap-2 md:col-span-1">
        <a routerLink="/" class="flex items-center gap-3 cursor-pointer mb-4" aria-label="logo">
          <img
            ngSrc="/assets/images/favicon.png"
            alt="logo"
            class="cursor-pointer w-8"
            width="64"
            height="68"
            priority />
          <h1 class="font-bold text-2xl">fikiri<span class="text-emerald-400 animate-ping">.</span></h1>
        </a>
        <h5 class="font-semibold mb-2">Copyright</h5>
        <p class="">&copy; PNUD {{ getYear() }}. Tous droits réservés</p>
      </div>
    </div>
  </div>
</footer>
