<ng-container *ngIf="vm$ | async as vm">
  <h3 class="text-lg font-bold text-gray-950 mb-6">Modifier mes informations</h3>
  <app-message
    [message]="vm.udpateInfoState.message.message"
    [type]="vm.udpateInfoState.message.type"
    (handleClose)="closeUpdateInfoMessage()" />
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="gap-8 flex flex-col transition-transform duration-100"
    [ngClass]="vm.udpateInfoState.message.message ? 'translate-y-1 ease-in' : 'ease-out'">
    <app-input
      type="text"
      name="name"
      label="Nom complet"
      placeholder="Entrez votre name"
      [validationErrors]="vm.udpateInfoState.errors" />
    <app-input
      type="text"
      name="phone_number"
      label="Numéro téléphonique"
      placeholder="Entrez votre numéro"
      [validationErrors]="vm.udpateInfoState.errors" />
    <app-input
      type="text"
      name="address"
      label="Adresse"
      placeholder="Entrez votre adresse"
      [validationErrors]="vm.udpateInfoState.errors" />
    <app-button type="submit" [loading]="vm.udpateInfoState.isLoading" [disabled]="form.invalid">
      Mettre à jour
    </app-button>
  </form>
</ng-container>
