<a [routerLink]="['/solutions', solution.id]" class="flex flex-col">
  <div class="w-auto h-40 mb-2 bject-cover relative">
    <img [ngSrc]="displayImage(solution)" class="rounded-md" [alt]="solution.name" fill />
  </div>
  <div class="flex gap-3 items-center">
    <div class="w-10 h-10 bg-gray-200 relative rounded-full overflow-hidden flex items-center justify-center">
      <img
        [ngSrc]="displayProfileImage(solution.user) || 'assets/images/default-placeholder.png'"
        [alt]="solution.user.name"
        fill />
    </div>
    <p class="text-gray-950 font-medium text-sm flex flex-col capitalize">
      {{ solution.user.name }}
      <span class="text-gray-500 font-normal">{{ solution.created_at | date: 'longDate' }}</span>
    </p>
  </div>
</a>
