<a [routerLink]="['/solutions', solution.id]" class="flex flex-col">
  <div class="w-auto h-44 mb-2 bject-cover relative">
    <img [ngSrc]="displayImage(solution)" class="rounded-md" [alt]="solution.name" fill/>
  </div>
  <div class="flex gap-3 items-center">
    <div class="w-10 h-10 bg-gray-200 relative rounded-full overflow-hidden flex items-center justify-center">
      <h2 class="text-gray-950 font-medium">{{ username(solution.user) }}</h2>
    </div>
    <p class="text-gray-950 font-medium text-sm flex flex-col capitalize">
      {{ solution.user.name }}
      <span class="block text-xs text-gray-700">
        {{ solution.createdAt | date : 'dd/MM/yyyy' }}
     </span>
    </p>
  </div>
</a>
