<div class="relative" *ngIf="state$ | async as state">
  <ui-topbar/>
  <div class="flex flex-col text-lg mx-6 justify-center max-w-screen-md md:mx-auto border-x border-dashed pt-24">
    <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">
      Titre de la solution
    </h2>

    <h2 class="text-xl text-gray-950 mb-6 p-4">
      {{ capitalizeFirstLetter(state.solution?.name ?? "") }}
    </h2>

    @if (state.solution) {
      <img [ngSrc]="displayImage(state.solution)" alt="{solution.name}" height="250" width="300"
           class="mb-8 h-96 w-full"/>
    }

    <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">
      Desciption de la solution
    </h2>

    <p class="mb-4 p-4">{{ state.solution?.description }}</p>

    <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Problème résolu</h2>

    <p class="mb-8 p-4">{{ state.solution?.targetedProblem }}</p>
    <h2 class="font-bold text-2xl mb-2 p-3">Innovateur</h2>

    <p class="p-4">
      {{ state.solution?.user?.name }} &mdash; {{ state.solution?.user?.email }}
    </p>

    <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Thématique</h2>

    <p class="p-4">
      {{ state.solution?.thematic?.name }}
    </p>

    <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Défis</h2>

    <div class="p-4">
      <p class="mb-6">
        @for (challenge of state.solution?.challenges; let i = $index; track i) {
          <span class="mr-2"> &mdash; {{ challenge.name }}</span>
        }
      </p>
    </div>
  </div>
</div>
