<ng-container *ngIf="state$ | async as state">
  @if (state.solution) {
    <div class="flex flex-col text-lg mx-6 justify-center max-w-screen-md md:mx-auto border-x border-dashed pt-24">
      <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">
        Titre de la solution
      </h2>
      @if (state.solution && state.solution.name) {
        <h2 class="text-xl text-gray-950 mb-6 p-4">
          {{ state.solution.name | capitalizeFirstLetter }}
        </h2>
      }
      <div class="mb-8 h-48 lg:h-96 w-full relative">
        <img [ngSrc]="displayImage(state.solution) || '/assets/images/default-placeholder.png'"
             [alt]="state.solution.name" priority fill/>
      </div>
      <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">
        Desciption de la solution
      </h2>
      <p class="mb-4 p-4">{{ state.solution.description }}</p>
      <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Problème résolu</h2>
      <p class="mb-8 p-4">{{ state.solution.targetedProblem }}</p>
      <h2 class="font-bold text-2xl mb-2 p-3">Innovateur</h2>
      <p class="p-4">
        {{ state.solution.user.name }} &mdash; {{ state.solution.user.email }}
      </p>
      <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Thématique</h2>
      <p class="p-4">
        {{ state.solution.thematic?.name }}
      </p>
      <h2 class="font-bold text-gray-800 text-2xl mb-2 p-3">Défis</h2>
      <div class="p-4 mb-6">
        @for (challenge of state.solution.challenges; track challenge.id) {
          <p class="mr-2"> &mdash; {{ challenge.name }}</p>
        }
      </div>

      @if (state.prevAndNext) {
        <button class=" font-medium text-sm">
          Précédent
        </button>
        @if (state.prevAndNext.next) {
          <button class=" font-medium text-sm">
            Suivant
          </button>
        }
      }
    </div>
  }
  @if (!state.isLoading && !state.solution) {
    <component-not-found title="404" description="Page non trouvée" link="/solutions"
                         linkText="Liste des solutions"/>
  }
</ng-container>


