<component-form-card formTitle="Réinitialisation" *ngIf="state$ | async as state" [error]="state.error">
  <div class="mb-6 -mt-4">
    <p class="text-sm">
      Entrez votre adresse email pour recevoir un code à 6 chiffres par mail
      pour réinitialiser votre mot de passe, sur la page suivante, vous
      pourrez entrer le code reçu par mail et choisir un nouveau mot de
      passe.
    </p>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="gap-8 flex flex-col justify-center">
    <ui-input type="email" label="Email" placeholder="Entrez votre email" name="email"
              [validationErrors]="state.validationErrors"/>
    <ui-button type="submit" [loading]="state.isLoading" [disabled]="form.invalid">
      Vérifier mon email
    </ui-button>
    <hr class="border-gray-300 w-full"/>
    <ui-button-outline (click)="loginWithGoogle()">
      <img ngSrc="../../../assets/images/google.svg" alt="google" class="mr-2 h-4 w-4" width="10" height="10"/>
      <span class="text-gray-950 text-sm">Se connecter avec Google</span>
    </ui-button-outline>
    <a routerLink="/login" class="text-gray-950 text-sm">
      Vous avez un compte ? Connectez-vous
    </a>
  </form>
</component-form-card>
