<app-form-card formTitle="Réinitialisation" *ngIf="vm$ | async as vm">
  @if (vm.error) {
  <app-message [message]="vm.error" type="error" (handleClose)="closeMessage()" />
  }

  <div class="mb-6 -mt-4">
    <p class="text-sm">
      Entrez votre adresse email pour recevoir un code à 6 chiffres par mail pour réinitialiser votre mot de passe, sur
      la page suivante, vous pourrez entrer le code reçu par mail et choisir un nouveau mot de passe.
    </p>
  </div>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    [ngClass]="vm.error ? 'translate-y-2' : ''"
    class="gap-8 flex flex-col justify-center transition-transform duration-300 ease-in">
    <app-input
      type="email"
      label="Email"
      placeholder="Entrez votre email"
      name="email"
      [validationErrors]="vm.validationErrors" />
    <app-button type="submit" [loading]="vm.isLoading" [disabled]="form.invalid"> Vérifier mon email </app-button>
    <hr class="border-gray-300 w-full" />
    <app-button-outline (click)="loginWithGoogle()">
      <img ngSrc="../../../assets/images/google.svg" alt="google" class="mr-2 h-4 w-4" width="10" height="10" />
      <span class="text-gray-950 text-sm">Se connecter avec Google</span>
    </app-button-outline>
    <a routerLink="/login" class="text-gray-950 text-sm"> Vous avez un compte ? Connectez-vous </a>
  </form>
</app-form-card>
