@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-open div:first-child {
    @apply rotate-45 translate-y-1.5;
  }

  app-root.open-nav {
    @apply overflow-hidden;
  }

  .nav-open div:last-child {
    @apply -rotate-45 -translate-y-1;
  }
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.scroll {
  animation: infinite-scroll 25s linear infinite;
}
