<section class="px-8 mt-10 max-w-screen-lg mx-auto">
  <h1 class="text-xl md:text-2xl lg:text-3xl font-semibold mb-6">Découvrez <span class="inline-block after:block after:w-full after:h-2 after:-mt-2 after:bg-emerald-300">les acteurs</span></h1>
  <div class="flex gap-4 flex-wrap justify-center lg:justify-start">
    @for (partainer of partainers; track partainer.id) {
      <div class="h-24 w-28 relative object-contain">
        <img [ngSrc]="partainer.src" [alt]="partainer.name" class="partner-logo" fill/>
      </div>
    }
  </div>
</section>

