<ng-container *ngIf="vm$ | async as vm">
  <h3 class="text-lg font-bold text-gray-950 mb-6">Modifier mon mot de passe</h3>
  <app-message [message]="vm.message.message" [type]="vm.message.type" (handleClose)="closePasswordUpdateMessage()" />
  <form
    [formGroup]="form"
    (ngSubmit)="onSumbit()"
    class="gap-8 flex flex-col transition-transform duration-100"
    [ngClass]="vm.message.message ? 'translate-y-1 ease-in' : 'ease-out'">
    <app-input
      type="password"
      name="old_password"
      label="Ancien mot de passe"
      placeholder="Entrez l'ancien mot de passe"
      [validationErrors]="vm.errors" />
    <app-input
      type="password"
      name="password"
      label="Nouveau mot de passe"
      placeholder="Entrez le nouveau mot de passe"
      [validationErrors]="vm.errors" />
    <app-input
      type="password"
      name="password_confirm"
      label="Confirmation du mot de passe"
      placeholder="Confirmez votre mot de passe"
      [validationErrors]="vm.errors" />
    <app-button type="submit" [loading]="vm.isLoading" [disabled]="form.invalid"> Changer le mot de passe </app-button>
  </form>
</ng-container>
